SLACK_CLIENT_ID=12345678.12345678
SLACK_CLIENT_SECRET=3jdu87f64jfjfuf7749j9409eo
SLACK_SIGNING_SECRET=58tug74h4bf6j43983kd
SLACK_HOSTNAME=https://3cb89939.ngrok.io
SLACK_REDIRECT_URI=https://3cb89939.ngrok.io/slack/oauth_redirect
SLACK_APP_TOKEN=xapp-1-A12345678-546846516546-123555365
SLACK_START_SCOPES=chat:write,commands
SLACK_UPGRADE_SCOPES=chat:write,commands,app_mentions:read,reactions:write
SLACK_PROMPT_INSTALL=0
